/****************************************************************************************************************************/
/* UNIVERSAL STYLES START */
/****************************************************************************************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}
/****************************************************************************************************************************/
/* UNIVERSAL STYLES END */
/****************************************************************************************************************************/



/****************************************************************************************************************************/
/* NAVBAR START */
/****************************************************************************************************************************/
.navbar {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #68adcd;
    padding: 1em 10%;
}

.navbar-logo-and-brand-text {
    display: flex;
    align-items: center;
}

.burger-kraken-logo-nav {
    width: 50px;
    margin-right: 5px;
}

.brand-title-nav {
    font-size: 1.5rem;
    font-weight: bold;
    color: #051628;
    text-decoration: none;
    transition: color 0.75s;
}

.brand-title-nav:hover {
    color: #ffffff;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-radius: 50px;
}

.navbar-links li:hover {
    transition: all 3s;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #051628;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 0.15em;
    transition: color 0.75s;
}

.navbar-links li a:hover {
    color: #ffffff;
}

.toggle-button {
    display: none;
}

.bar {
    background-color: #051628;
    height: 3px;
    width: 35px;
    transition: all 0.75s;
}

.bar-1-active {
    background-color: #ffffff;
    transform: rotate(-45deg) translate(-30%, 280%);
}

.bar-2-active {
    opacity: 0;
}

.bar-3-active {
    background-color: #ffffff;
    transform: rotate(45deg) translate(-30%, -280%);
}

@media (max-width: 840px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        position: absolute;
        top: 25px;
        right: 45px;
        display: flex;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links ul li a:hover {
        color: #ffffff;
        transition: color 0.6s;
        background-color: none;
    }

    .navbar-links.active {
        display: flex;
    }
}
/****************************************************************************************************************************/
/* NAVBAR END */
/****************************************************************************************************************************/



/****************************************************************************************************************************/
/* HERO SECTION START */
/****************************************************************************************************************************/
.hero-section {
    background-image: url(img/cheeseburger-and-fries-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    color: #ffffff;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    animation: h1Animation 1.5s linear;
}

@keyframes h1Animation {
    0% {opacity: 0;}
   25% {opacity: 0.15;}
   50% {opacity: 0.30;}
   75% {opacity: 0.50;}
  100% {opacity: 1;}
}
/****************************************************************************************************************************/
/* HERO SECTION END */
/****************************************************************************************************************************/



/****************************************************************************************************************************/
/* MAIN CONTENT SAME STYLES START */
/****************************************************************************************************************************/
h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

.about-section,
.menu-section,
.careers-section {
    padding: 120px 30px 0 30px;
}

.about-section,
.careers-section {
    background-color: #a3dbe4;
}

.about-section-main-content,
.menu-section-main-content,
.careers-section-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding-bottom: 20px;
}

.about-section-main-content p,
.menu-section-main-content p,
.careers-section-main-content li {
    margin: 1em 0;
    font-size: 1.25em;
}

.about-section-main-content img,
.menu-section-main-content img,
.careers-section-main-content img {
    width: 100%;
    height: auto;
    margin: auto;
}
/****************************************************************************************************************************/
/* MAIN CONTENT SAME STYLES END */
/****************************************************************************************************************************/



/****************************************************************************************************************************/
/* MENU START */
/****************************************************************************************************************************/
.menu-item-component {
    margin-bottom: 50px;
}

.burger-name-and-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-name {
    font-size: 2em;
    margin-right: 10px;
}

.burger-price {
    background-color: #051628;
    color:#68adcd;
    padding: 10px 20px;
    border-radius: 20px;
}

.burger-description {
    text-align: center;
}

.burger-description p {
    margin-top: 0;
}
/****************************************************************************************************************************/
/* MENU END */
/****************************************************************************************************************************/



/****************************************************************************************************************************/
/* CAREERS START */
/****************************************************************************************************************************/
label {
    display: block;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}

input {
    width: 100%;
    height: 40px;
    font-family: 'Raleway', sans-serif;
}

textarea {
    width: 100%;
    height: 200px;
    font-family: 'Raleway', sans-serif;
}

.careers-section-right p {
    margin-top: 20px;
    text-align: center;
    padding: 0 40px;
}

.careers-button {
    padding: 10px 20px;
    border: 3px solid #000000;
    border-radius: 30px;
    background-color: #68adcd;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    transition: all 0.75s;
}

.careers-button:hover {
    background-color: #051628;
    transition: all 0.75s;
}
/****************************************************************************************************************************/
/* CAREERS END */
/****************************************************************************************************************************/


/****************************************************************************************************************************/
/* FOOTER START */
/****************************************************************************************************************************/
footer {
    background-color: #051628;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 20px 0;
}
/****************************************************************************************************************************/
/* FOOTER END */
/****************************************************************************************************************************/



/****************************************************************************************************************************/
/* MEDIA QUERIES START */
/****************************************************************************************************************************/
@media (max-width: 1000px) {
    .header-text {
        font-size: 5rem;
    }
}

@media (max-width: 840px) {

    .header-text {
        font-size: 4.5rem;
    }

    .about-section-main-content,
    .menu-section-main-content,
    .careers-section-main-content {
        grid-template-columns: 1fr;
    }

    .about-section-main-content img,
    .menu-section-main-content img,
    .careers-section-main-content img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .menu-section-main-content img {
        padding-bottom: 20px;
    }
    
}



@media (max-width: 700px) {
    .header-text {
        font-size: 3rem;
    }
}



@media (max-width: 510px) {
    .header-text {
        font-size: 2rem;
    }
}
/****************************************************************************************************************************/
/* MEDIA QUERIES END */
/****************************************************************************************************************************/